.piece {
    width: 50px;
    height: 50px;
    position: absolute;
    transform: translate(15%,-10%);
   
  }
  
  .black {
    color: rgb(5, 27, 66);
    text-shadow:
    -1px -1px 0 #f0f0f0,  
     1px -1px 0 #d0d0d0,
    -1px  1px 0 #c1c1c1,
     1px  1px 0 #c4c4c4;
  }
  
  .white {
    color: rgb(221, 221, 221);
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
  }
  
  /* Pawn */
  .piece-0::before {
    font-family: Arial, sans-serif;
    content: '♟';
    font-size: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  
  /* Rook */
  .piece-1::before {
    content: '♜';
    font-size: 40px;
    position: absolute;
    top: 5px;
    left: 5px;

  }
  
  /* Knight */
  .piece-2::before {
    content: '♞';
    font-size: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  
  /* Bishop */
  .piece-3::before {
    content: '♝';
    font-size: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  
  /* Queen */
  .piece-4::before {
    content: '♛';
    font-size: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  
  /* King */
  .piece-5::before {
    content: '♚';
    font-size: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  